.navbar{
  display: flex;
  box-shadow: 4px 4px 6px gray;
  justify-content: space-between;
}

.game{
  display: flex;
  height: 85vh;
  justify-content: center;
  align-items: center;
}

.images{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 450px;
  width: 570px;
  box-shadow: 4px 4px 10px gray;
}

.image{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 120px;
  width: 120px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px black;
  padding: 10px;
  margin: 10px;
}

.image-blank{
  background: url( "./components/Images/cube.jpg") !important;
  background-size: contain !important;
  background-repeat: no-repeat;
  background-position: center !important;
  height: 120px;
  width: 120px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px black;
  padding: 10px;
  margin: 10px;
}

.end-game{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150vh;
  width: 100%;
  background: cornflowerblue;
}

.message{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 40vw;
  background: white;
  box-shadow: 12px 12px 10px gray;
}

@media only screen and (max-width: 600px){
  .image{
    height: 100px;
    width: 110px;
    margin: 5px;
  }
  .message{
    width: 400px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
